.searchbtn{
    margin-top: 12px;
    margin-left: 10px;
}
.searchbar{
    margin-left: 200px;
}
.pimg{
    font-size: 35px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 15px;
}
.profile{
    margin-left: 450px;
}