<!-- <img src="../" width="250px" height="200px">
  <div class="hoteldesc">
    <h2>img</h2>
    <p>hvhlghjhk</p>
    <span class="rating"><mat-icon>star</mat-icon>5</span>&nbsp;<span>$200</span>
    <div>
    <button mat-raised-button class="viewbtn">View Details</button>&nbsp;&nbsp;
      <button mat-raised-button color="primary">Book Now</button>
    </div>  
</div> -->
<div class="container">

    <div class="sort">
      <span>Sort By:</span> &nbsp;
      <span><mat-icon>swap_vertical</mat-icon>Ratings </span>&nbsp;
      <span><mat-icon>swap_vertical</mat-icon>Price </span>
      </div>  
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row wrap" fxLayoutGap="15px">
    <div class="display" *ngFor="let p of products"  >
      
        <h2>img</h2>
        <img src="{{p.imagePath}}" >
        <p>Charm looking {{p.name}}</p>
        <span class="rating"><mat-icon>star</mat-icon>{{p.rating}}</span>&nbsp;<span><mat-icon>{{p.Price|currency:'&#8377;'}}</mat-icon>200</span>
        <div>
            <button mat-raised-button class="viewbtn">View</button>&nbsp;&nbsp;
              <button mat-raised-button color="primary">Add Cart</button>
            </div>         
        <mat-divider></mat-divider>
        
    </div> 



   
  </div>

</div>