<h4>Category</h4>
<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let Cloth of clothes" [value]="Cloth.value"> 
    </mat-option> -->
  </mat-select>
</mat-form-field>
<mat-divider></mat-divider>
<br>
<mat-label>Price:</mat-label>
<br>Min<mat-slider step="1" min="100" max="10000"></mat-slider>Max
<mat-divider></mat-divider>
<br>
<input type="checkbox">4<mat-icon  class="checkboxstar">star</mat-icon>& Above <br>
<input type="checkbox">3<mat-icon  class="checkboxstar">star</mat-icon>& Above <br>
<input type="checkbox">2<mat-icon  class="checkboxstar">star</mat-icon>& Above <br>
<input type="checkbox">1<mat-icon  class="checkboxstar">star</mat-icon>& Above <br>
<mat-divider></mat-divider>

