.backgrd{
    background-image: url('/../ebazar/src/assets/images/loginBackground.jpg');
    padding:50px;
}
.example-card{
    width: 25%;
    position: absolute;
    left: 800px; 
    margin-top: 80px;
}
.example-full-width{
   margin-left: 20px;
   width: 200px;
}
.loginbtn{
    text-align: center;
   
}
.forgotlink{
    text-decoration: none;
    color: blue;
}
.chkbx{
    color:blue
}
.txtleft{
    float: left;
    width:40%;
}
.signuptxt{
    text-decoration: none;
    color: orange;
}
.txtright{
     float:right;
     width:60%;
     text-align: right;
     padding: 18px 0%;
}
.clear{ clear:both;}