

<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div fxFlex="5%" ></div>
    <div fxFlex="40%" ><img class="cartImg" src="../../assets/images/img1.jpg"></div>
    <div  fxFlex="50%"><div >
        <mat-card-title>Shirt</mat-card-title>
        <p class="productdetail"> 4.5</p>
        <p class="priceTag">Price: 500</p>
        <button mat-raised-button class="viewbtn" routerLink="" >ADD TO CART</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary">BUY</button>
      </div></div>
  </div>